<!-- For Artsy case studies -->

<div class="grid-container">
  <div class="item">
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1711334584/artsy_landing_3x_x8ftvh.jpg" %>
    </div>
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1711335963/artsy_landing_web_3x_wllhnt.jpg" %>
    </div>
  </div>
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3>Art fair - online</h3>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>Every year, numerous art fairs take place worldwide, each featuring a plethora of represented art galleries. The challenge was to create a platform for each art fair to showcase their complete catalog of exhibitors, artworks, and highlights online.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>In addition to providing users with a way to explore art fair catalogs, it was crucial to design a page that captures the unique identity and spirit of each individual fair.</p>
    </div>
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1711337149/artsy_fairPage_3x_yuildk.jpg" %>
    </div>
  </div>
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3>Discovering art & artists</h3>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>If you're not immersed in the art world, discovering new artworks or artists can be challenging, unlike stumbling upon them in a museum or finding music on Spotify.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>Our approach aimed to offer users the ability to discover artworks and artists through thumbnail images that acted as windows into the artists' styles.</p>
    </div>
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1711336422/artsy_featuredArtists_3x_qpktbq.jpg" %>
    </div>
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1711336872/artsy_featuredCategories_3x_wcrdxk.jpg" %>
    </div>
  </div>
</div>
