<div class="finspo-case-studies">
  <!-- Case study: Brand-->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Brand</h3>
    </div>
    <div class="pca">
      <h5>Challenge</h5>
      <p>Home loans are often perceived as mundane hurdles on the path to achieving one's goals.</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>Finspo's mission to ensure customers "Feel good about their home loan moves" drives us to cultivate an approachable and enjoyable brand identity. This includes enhancing UX accessibility and infusing the brand with approachability and fun.</p>
    </div>
    <div class="pca">
      <h5>My role</h5>
      <p>Involves collaborating with the marketing team to lead design efforts and contribute to strategic planning for design-centric deliverables. Additionally, I oversee the formation and management of a team of freelancers, including illustrators and animators, to execute projects.</p>
    </div>
    <div class="rectangle-full br-24 bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707785704/finspo_color_palette_s8pufq.svg", alt: "Finspo color palette", class: "palette"%>
    </div>
    <div class="rectangle-full br-24 bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707876099/finspo_typography_jdq9ma.svg", alt: "Finspo typography rules", class: "typography"%>
    </div>
    <div class="rectangle-full emma-illo br-24 bg-purple">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707870773/finspo_illo_1_yfbmk4.svg", alt: "Samples of brand illustration" %>
    </div>
    <div class="square-half-half fixed-rate-square-ad br-24 bg-cream">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707948452/finspo_illo_2_moosl9.svg", alt: "Guarantor" %>
    </div>
    <div class="square-half-half fixed-rate-square-ad br-24 bg-blue">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707949039/finspo_illo_3_xg4mwq.svg", alt: "Biker" %>
    </div>
  </div>
  <!-- Case study: Fixed rate campaign-->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Fixed rate ending (Work fast, in house, limited resources)</h3>
    </div>
    <div class="pca">
      <h5>Challenge</h5>
      <p>Home loans are often perceived as mundane hurdles on the path to achieving one's goals.</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>Finspo's mission to ensure customers "Feel good about their home loan moves" drives us to cultivate an approachable and enjoyable brand identity. This includes enhancing UX accessibility and infusing the brand with approachability and fun.</p>
    </div>
    <div class="pca">
      <h5>My role</h5>
      <p>Involves collaborating with the marketing team to lead design efforts and contribute to strategic planning for design-centric deliverables. Additionally, I oversee the formation and management of a team of freelancers, including illustrators and animators, to execute projects.</p>
    </div>
    <div class="rectangle-full fixed-rate-rectangle br-24 bg-purple">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707885720/finspo_fixedRate_landingPage_kwek05.svg", alt: "Fixed rate landing page"%>
    </div>
    <div class="square-half-half fixed-rate-square-ad br-24 bg-navy">
      <video autoplay muted loop>
        <source src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707883946/Party_1x1_V4_ykgg0e.mp4" type="video/mp4">
        <%# <source src="video.webm" type="video/webm"> %>
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="square-half-half fixed-rate-square-ad br-24 bg-navy">
      <video autoplay muted loop>
        <source src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707884827/Cake_1x1_V4_crjjpz.mp4" type="video/mp4">
        <%# <source src="video.webm" type="video/webm"> %>
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!-- Case study: Animations-->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Bringing delight to home loans</h3>
    </div>
    <div class="pca">
      <h5>Challenge</h5>
      <p>Home loans are often perceived as mundane hurdles on the path to achieving one's goals.</p>
    </div>
    <div class="square-triptic br-24 bg-navy-2">
      <div>
        <img src="https://res.cloudinary.com/dmvbynqto/image/upload/v1707887042/210323_thankYouFlower_orange_kk1xsh.gif" alt="Example GIF">
      </div>
    </div>
    <div class="square-triptic br-24 bg-navy-2">
      <div>
        <img src="https://res.cloudinary.com/dmvbynqto/image/upload/v1707887946/alarmClock_0m_landscape_byukyr.gif" alt="Example GIF">
      </div>
    </div>
    <div class="rectangle-two-thirds br-24 bg-navy-2">
      <img src="https://res.cloudinary.com/dmvbynqto/image/upload/v1707889768/210823_conversionEmailSportsTheme_basketball_v1_itagde.gif" alt="Example GIF">
    </div>
  </div>

  <!-- Case study: Brand awareness -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Brand awareness</h3>
    </div>
    <div class="pca">
      <h5>Challenge</h5>
      <p>Home loans are often perceived as mundane hurdles on the path to achieving one's goals.</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>Finspo's mission to ensure customers "Feel good about their home loan moves" drives us to cultivate an approachable and enjoyable brand identity. This includes enhancing UX accessibility and infusing the brand with approachability and fun.</p>
    </div>
    <div class="pca">
      <h5>My role</h5>
      <p>Involves collaborating with the marketing team to lead design efforts and contribute to strategic planning for design-centric deliverables. Additionally, I oversee the formation and management of a team of freelancers, including illustrators and animators, to execute projects.</p>
    </div>
    <div class="square-half-half br-24 bg-navy">
      <dotlottie-player src="https://lottie.host/64aab6f1-d7e4-4a9e-8c55-e66364ef2084/fWb1gthOJE.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
    </div>
    <div class="square-half-half brand-awareness-square-ad br-24 bg-navy">
      <video autoplay muted loop>
        <source src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707940121/Finspo_brand_awareness_-_C2_1x1_230720_0900_ccf55q.mp4" type="video/mp4">
        <%# <source src="video.webm" type="video/webm"> %>
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!-- Case study: Learn Hub -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Learn Hub</h3>
    </div>
    <div class="pca">
      <h5>Challenge</h5>
      <p>Blogs are frequently neglected as a means to enhance SEO and can sometimes lack engagement.</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>At Finspo, we seized this chance to develop an engaging blog, educating customers about home loan complexities in an inviting and informative manner. We enhanced aesthetics and incorporated descriptive illustrations for improved content comprehension. </p>
    </div>
    <div class="pca">
      <h5>My role</h5>
      <p>These assets can be repurposed across various channels, including social media and select product features.</p>
    </div>
      <div class="rectangle-full learn-hub-recording br-24 bg-purple">
        <video autoplay muted loop>
          <source src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707944041/finspo_learnHub_recording_rskbp4.mp4" type="video/mp4">
          <%# <source src="video.webm" type="video/webm"> %>
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
</div>
