<div class="grid-container">
  <!-- Case study: Brand-->
  <div class="item">
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707785704/finspo_color_palette_s8pufq.svg", alt: "Finspo color palette", class: "palette"%>
    </div>
    <div class="square-half-half finspo-logo bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708338343/finspo_logo_full_white_gxhout.svg", alt: "Finspo logo" %>
    </div>
    <div class="square-half-half finspo-logo-mark bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708339133/finspo_logo_mark_white_kcp7do.svg", alt: "Finspo logo mark" %>
    </div>
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707876099/finspo_typography_jdq9ma.svg", alt: "Finspo typography rules", class: "typography"%>
    </div>
    <!-- infographic
    <div class="rectangle-two-thirds bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708334347/finspo_infographic_bubble_pwfhxh.svg", alt: "Infographic" %>
    </div>-->
  </div>

  <!-- Case study: Illustrations-->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3>Brand illustrations</h3>
      <div class="p-top-m">
        <p>Illustrations by: Emma Winton</p>
      </div>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>Home loans can be daunting - often involving processes and terminologies that are unfamiliar to customers. The challenge was to use illustrations to help drive that conversation in way that feels relatable.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>As these illustrations were utilized across various channels (EDMs, social media, website), they frequently featured "Finspo characters" engaging in relatable activities to convey messages effectively, without relying on literal interpretations.</p>
    </div>
    <div class="rectangle-full emma-illo bg-purple">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708324362/finspo_illo_1_v2_fopti1.svg", alt: "Samples of brand illustration" %>
    </div>
    <div class="square-half-half fixed-rate-square-ad bg-cream p-top-xxl p-bottom-xxl">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707948452/finspo_illo_2_moosl9.svg", alt: "Guarantor" %>
    </div>
    <div class="square-half-half fixed-rate-square-ad bg-blue p-top-xxl p-bottom-xxl">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707949039/finspo_illo_3_xg4mwq.svg", alt: "Biker" %>
    </div>
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708329048/finspo_learnhubCards_1280x700_vbaiwv.png", alt: "Samples of brand illustration" %>
    </div>
  </div>

  <!-- Case study: Fixed rate campaign-->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3>Fixed rate ending</h3>
      <div class="p-top-m">
        <p>Illustrations by: Emma Winton</p>
        <p>Animations by: Vivi Feng</p>
      </div>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>A considerable number of Australian homeowners were nearing the end of years of record-low fixed interest rates. The challenge involved designing a campaign to encourage both existing and new customers to refinance with Finspo.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>The central concept revolved around the theme of "Party Ending." The accompanying visuals featured four variations depicting party objects losing their spark as the celebration comes to an end.</p>
    </div>
    <div class="square-half-half fixed-rate-square-ad bg-navy p-top-xxl p-bottom-xxl">
      <video
        src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707883946/Party_1x1_V4_ykgg0e.mp4"
        autoplay="true"
        loop="true"
        muted="true">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="square-half-half fixed-rate-square-ad bg-navy p-top-xxl p-bottom-xxl">
      <video
        src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707884827/Cake_1x1_V4_crjjpz.mp4"
        autoplay="true"
        loop="true"
        muted="true">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!-- Case study: Animations-->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3>Bringing joy to home loans</h3>
      <div class="p-top-m">
        <p>Illustrations by: Emma Winton</p>
        <p>Animations by: Me</p>
      </div>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>Finspo's EDM served as its primary tool for engaging with existing and potential customers. The challenge lay in implementing designs to help effectively drive conversions.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>We dedicated a significant amount of time to enhance engagement by incorporating animated visuals, aiming to stand out amidst the plethora of marketing emails flooding customers' inboxes.</p>
    </div>
    <div class="square-triptic bg-navy-2">
      <div>
        <img src="https://res.cloudinary.com/dmvbynqto/image/upload/v1707887946/alarmClock_0m_landscape_byukyr.gif" alt="Example GIF">
      </div>
    </div>
    <div class="rectangle-two-thirds bg-navy-2">
      <img src="https://res.cloudinary.com/dmvbynqto/image/upload/v1707889768/210823_conversionEmailSportsTheme_basketball_v1_itagde.gif" alt="Example GIF">
    </div>
    <div class="square-triptic bg-navy-2">
      <div>
        <img src="https://res.cloudinary.com/dmvbynqto/image/upload/v1707887042/210323_thankYouFlower_orange_kk1xsh.gif" alt="Example GIF">
      </div>
    </div>
  </div>

  <!-- Case study: Brand awareness -->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3>Brand awareness</h3>
      <div class="p-top-m">
        <p>Illustrations by: Emma Winton</p>
        <p>Animations by: Gabriel Gareso</p>
      </div>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>The objective of this campaign was to boost awareness of our brand proposition among Australians. In essence, as a mortgage broker, Finspo's experts are here to help you get your home loan, ensuring you feel good every step of the way.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>After exploring various directions, we settled on a clear message supported by a charming graphic illustrating the customer at the forefront, surrounded by a team of experts. This design also allows for variations with the customer being swapped out for other personalities.</p>
    </div>
    <div class="rectangle-full bg-blue">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708327819/finspo_homepage_1280x700_ec7yja.png", alt:"summary page desktop view"%>
    </div>
    <div class="square-half-half brand-awareness-square-ad bg-blue p-top-xxl p-bottom-xxl">
      <video
        src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707940121/Finspo_brand_awareness_-_C2_1x1_230720_0900_ccf55q.mp4"
        autoplay="true"
        loop="true"
        muted="true">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>


</div>
