<!-- For Finspo case studies -->

<div class="grid-container">
  <!-- Components -->
  <div class="item">
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708313487/finspo_styleguide_1280x700_lsdwo2.png", alt:"finspo components"%>
    </div>
  </div>

  <!-- Case study: DFF(Customer) -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Digital Fact Find (Customer)</h3>
    </div>
    <div class="pca">
      <h5 class="sub-title">Problem</h5>
      <p>The primary bottleneck for both customers and brokers lies in sharing and collecting information needed to: a) assess the feasibility of obtaining a home loan b) gather detailed information necessary to advance the application process.</p>
    </div>
    <div class="pca">
      <h5 class="sub-title">Challenges</h5>
      <p>How can we gather all necessary info without overwhelming customers? How do we prevent redundant data entry (Collect once, collect efficiently)? And, how can we prompt customers to complete majority of the info?</p>
    </div>
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708314556/finspo_dff_mobile_1280x700_q5kwt8.png", alt: "Mobile experience of DFF" %>
    </div>
    <div class="rectangle-full video-container">
      <video autoplay muted loop>
          <source src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707780570/finspo_dff_recording_jane_sshvzq.mp4" type="video/mp4">
          <%# <source src="video.webm" type="video/webm"> %>
          Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!-- Case study: Summary -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Summary</h3>
    </div>
    <div class="pca">
      <h5 class="sub-title">Problem</h5>
      <p>As customers increasingly provide upfront digital information via our fact find, brokers need a quick way to grasp customer profiles before meetings. However, there's currently no efficient method for this review.</p>
    </div>
    <div class="pca">
      <h5 class="sub-title">Challenges</h5>
      <p>Balancing the depth of information to benefit both customers and brokers.</p>
    </div>
    <div class="rectangle-full bg-blue">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708322802/finspo_summar_mobileAndDesktop_1280x700_2_f5ftyk.png", alt:"summary page desktop view"%>
    </div>
  </div>

    <!-- Case study: Animated componencts -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Bringin fun to home loan</h3>
    </div>
    <div class="pca">
    </div>
    <div class="pca">
    </div>
    <div class="square-half-half bg-navy p-top-xl p-bottom-xl">
      <!-- Lottie -->
      <dotlottie-player class="borrowing-power-animation" src="https://lottie.host/8f2743f6-880b-45e0-9204-f7b0ea176435/vV8CBK7381.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
    </div>
    <div class="roladex square-half-half bg-navy p-top-xl p-bottom-xl">
      <!-- Lottie -->
      <dotlottie-player src="https://lottie.host/c8fe2ef2-780d-4700-a0a1-623f1123493d/4YmfGRxaxu.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
    </div>
  </div>

  <!-- Case study: All-in-one tool -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Customer portal</h3>
    </div>
    <div class="pca">
      <h5 class="sub-title">Problem</h5>
      <p>The home loan process involves extensive communication, file exchanges, and shared materials, resulting in a disjointed experience. This lack of cohesion leads to inefficiencies for both customers and brokers.</p>
    </div>
    <div class="pca">
      <h5 class="sub-title">Challenges</h5>
      <p>1) Designing a platform as a "central source of truth" for customers' home loan journeys without overwhelming them. 2) Creating a cohesive platform that can be incrementally built with modular components.</p>
    </div>
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708317560/finspo_tracker_desktop_1280x700_jijvka.png", alt:"summary page desktop view"%>
    </div>
  </div>

    <!-- Case study: DFF(Broker) -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Broker tools</h3>
    </div>
    <div class="pca">
      <h5 class="sub-title">Problem</h5>
      <p>Timely home loan settlements are crucial for customer-facing businesses. However, manual tools hinder brokers' efforts to secure optimal deals. </p>
    </div>
    <div class="pca">
      <h5 class="sub-title">Challenges</h5>
      <p>With limited resources and the need to develop both customer and internal tools, creating a comprehensive "broker platform" was impractical.</p>
    </div>
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708318401/finspo_brokerTools_notes_1280x700_vzhtr1.png", alt: "Finspo expert notes" %>
    </div>
    <div class="square-half-half full-bleed">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708317901/finspo_brokerTools_flags_1280x700_swge3k.png", alt: "Widget of broker flags" %>
    </div>
  </div>
</div>
