<!-- For Finspo case studies -->

<div class="finspo-case-studies">
  <!-- Components -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Components</h3>
    </div>
    <div class="pca">
      <h5>Problem</h5>
      <p>The primary bottleneck for both customers and brokers lies in sharing and collecting information needed to: a) assess the feasibility of obtaining a home loan b) gather detailed information necessary to advance the application process.</p>
    </div>
    <div class="pca">
      <h5>Challenges</h5>
      <p>How can we gather all necessary info without overwhelming customers? How do we prevent redundant data entry (Collect once, collect efficiently)? And, how can we prompt customers to complete majority of the info?</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>We prioritize human-friendly language, breaking the process into manageable sections and goal-oriented design. Animated elements, also help to soften the form's intensity and engage customers, ensuring a smoother experience.</p>
    </div>
    <div class="rectangle-full br-24 bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707793620/finspo_components_gqq15g.png", alt:"finspo components"%>
    </div>
  </div>

  <!-- Case study: DFF(Customer) -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Digital Fact Find (Customer)</h3>
    </div>
    <div class="pca">
      <h5>Problem</h5>
      <p>The primary bottleneck for both customers and brokers lies in sharing and collecting information needed to: a) assess the feasibility of obtaining a home loan b) gather detailed information necessary to advance the application process.</p>
    </div>
    <div class="pca">
      <h5>Challenges</h5>
      <p>How can we gather all necessary info without overwhelming customers? How do we prevent redundant data entry (Collect once, collect efficiently)? And, how can we prompt customers to complete majority of the info?</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>We prioritize human-friendly language, breaking the process into manageable sections and goal-oriented design. Animated elements, also help to soften the form's intensity and engage customers, ensuring a smoother experience.</p>
    </div>
    <div class="rectangle-full br-24">
      <video autoplay muted loop>
          <source src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707780570/finspo_dff_recording_jane_sshvzq.mp4" type="video/mp4">
          <%# <source src="video.webm" type="video/webm"> %>
          Your browser does not support the video tag.
      </video>
    </div>
    <div class="rectangle-full br-24">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707798142/finspo_dff_mobile_wwrekn.svg", alt: "Mobile experience of DFF" %>
    </div>
  </div>

  <!-- Case study: DFF(Broker) -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Digital Fact Find (Broker)</h3>
    </div>
    <div class="pca">
      <h5>Problem</h5>
      <p>Timely home loan settlements are crucial for customer-facing businesses. However, manual tools hinder brokers' efforts to secure optimal deals. </p>
    </div>
    <div class="pca">
      <h5>Challenges</h5>
      <p>With limited resources and the need to develop both customer and internal tools, creating a comprehensive "broker platform" was impractical.</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>Implementing a lean solution with focused "jump off points" to various tools. 2) Introducing "broker-only views" consisting of widgets overlaying existing tools, rather than building entirely new views.</p>
    </div>
    <div class="rectangle-full br-24">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707799994/finspo_notes_j5pdoa.svg", alt: "Finspo expert notes" %>
    </div>
    <div class="square-half-half full-bleed br-24">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707799438/finspo_dff_flags_lsdmeh.svg", alt: "Widget of broker flags" %>
    </div>
  </div>

  <!-- Case study: Summary -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Summary</h3>
    </div>
    <div class="pca">
      <h5>Problem</h5>
      <p>As customers increasingly provide upfront digital information via our fact find, brokers need a quick way to grasp customer profiles before meetings. However, there's currently no efficient method for this review.</p>
    </div>
    <div class="pca">
      <h5>Challenges</h5>
      <p>Balancing the depth of information to benefit both customers and brokers.</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>Summarize essential data for quick comprehension.</p>
    </div>
    <div class="rectangle-full br-24 bg-blue">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707789545/finspo_summary_set_nz1cxz.svg", alt:"summary page desktop view"%>
    </div>
    <div class="square-half-half br-24 bg-blue">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707790522/finspo_summary_component_y4fye6.svg", alt:"summary page status change"%>
    </div>
  </div>

  <!-- Case study: All-in-one tool -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Customer portal</h3>
    </div>
    <div class="pca">
      <h5>Problem</h5>
      <p>The home loan process involves extensive communication, file exchanges, and shared materials, resulting in a disjointed experience. This lack of cohesion leads to inefficiencies for both customers and brokers.</p>
    </div>
    <div class="pca">
      <h5>Challenges</h5>
      <p>1) Designing a platform as a "central source of truth" for customers' home loan journeys without overwhelming them. 2) Creating a cohesive platform that can be incrementally built with modular components.</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>To prevent the platform from feeling disjointed or requiring extensive rework, we planned ahead and divided the project into manageable phases, ensuring a cohesive evolution over time.</p>
    </div>
    <div class="rectangle-full br-24">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707791408/finspo_customerPortal_c3prhj.svg", alt:"summary page desktop view"%>
    </div>
  </div>

    <!-- Case study: Animated componencts -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Bringin fun to home loan</h3>
    </div>
    <div class="square-half-half br-24 bg-blue">
      <!-- Lottie -->
      <dotlottie-player class="borrowing-power-animation" src="https://lottie.host/8f2743f6-880b-45e0-9204-f7b0ea176435/vV8CBK7381.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
    </div>
    <div class="square-half-half br-24 bg-blue">
      <!-- Lottie -->
      <dotlottie-player src="https://lottie.host/c8fe2ef2-780d-4700-a0a1-623f1123493d/4YmfGRxaxu.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
    </div>
    <div class="square-half-half br-24 bg-blue">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707796041/finspo_howMuchCanIBorrow_iipw2n.svg", alt: "How much can I borrow button" %>
    </div>
  </div>
</div>
