<div class="grid-container">
  <!-- Case study: Brand-->
  <div class="item">
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707785704/finspo_color_palette_s8pufq.svg", alt: "Finspo color palette", class: "palette"%>
    </div>
    <div class="square-half-half finspo-logo bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708338343/finspo_logo_full_white_gxhout.svg", alt: "Finspo logo" %>
    </div>
    <div class="square-half-half finspo-logo-mark bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708339133/finspo_logo_mark_white_kcp7do.svg", alt: "Finspo logo mark" %>
    </div>
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707876099/finspo_typography_jdq9ma.svg", alt: "Finspo typography rules", class: "typography"%>
    </div>
    <!-- infographic
    <div class="rectangle-two-thirds bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708334347/finspo_infographic_bubble_pwfhxh.svg", alt: "Infographic" %>
    </div>-->
  </div>

  <!-- Case study: Illustrations-->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Illustrations</h3>
    </div>
    <div class="rectangle-full emma-illo bg-purple">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708324362/finspo_illo_1_v2_fopti1.svg", alt: "Samples of brand illustration" %>
    </div>
    <div class="square-half-half fixed-rate-square-ad bg-cream p-top-xxl p-bottom-xxl">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707948452/finspo_illo_2_moosl9.svg", alt: "Guarantor" %>
    </div>
    <div class="square-half-half fixed-rate-square-ad bg-blue p-top-xxl p-bottom-xxl">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707949039/finspo_illo_3_xg4mwq.svg", alt: "Biker" %>
    </div>
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708329048/finspo_learnhubCards_1280x700_vbaiwv.png", alt: "Samples of brand illustration" %>
    </div>
  </div>

  <!-- Case study: Fixed rate campaign-->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Fixed rate ending (Work fast, in house, limited resources)</h3>
    </div>
    <div class="pca">
      <h5>Challenge</h5>
      <p>Home loans are often perceived as mundane hurdles on the path to achieving one's goals.</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>Finspo's mission to ensure customers "Feel good about their home loan moves" drives us to cultivate an approachable and enjoyable brand identity. This includes enhancing UX accessibility and infusing the brand with approachability and fun.</p>
    </div>
    <div class="square-half-half fixed-rate-square-ad bg-navy p-top-xxl p-bottom-xxl">
      <video autoplay muted loop>
        <source src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707883946/Party_1x1_V4_ykgg0e.mp4" type="video/mp4">
        <%# <source src="video.webm" type="video/webm"> %>
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="square-half-half fixed-rate-square-ad bg-navy p-top-xxl p-bottom-xxl">
      <video autoplay muted loop>
        <source src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707884827/Cake_1x1_V4_crjjpz.mp4" type="video/mp4">
        <%# <source src="video.webm" type="video/webm"> %>
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!-- Case study: Animations-->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Bringing delight to home loans</h3>
    </div>
    <div class="pca">
      <h5>Challenge</h5>
      <p>Home loans are often perceived as mundane hurdles on the path to achieving one's goals.</p>
    </div>
    <div class="pca">
      <h5>Challenge</h5>
      <p>Home loans are often perceived as mundane hurdles on the path to achieving one's goals.</p>
    </div>
    <div class="square-triptic bg-navy-2">
      <div>
        <img src="https://res.cloudinary.com/dmvbynqto/image/upload/v1707887946/alarmClock_0m_landscape_byukyr.gif" alt="Example GIF">
      </div>
    </div>
    <div class="rectangle-two-thirds bg-navy-2">
      <img src="https://res.cloudinary.com/dmvbynqto/image/upload/v1707889768/210823_conversionEmailSportsTheme_basketball_v1_itagde.gif" alt="Example GIF">
    </div>
    <div class="square-triptic bg-navy-2">
      <div>
        <img src="https://res.cloudinary.com/dmvbynqto/image/upload/v1707887042/210323_thankYouFlower_orange_kk1xsh.gif" alt="Example GIF">
      </div>
    </div>
  </div>

  <!-- Case study: Brand awareness -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Brand awareness</h3>
    </div>
    <div class="pca">
      <h5>Challenge</h5>
      <p>Home loans are often perceived as mundane hurdles on the path to achieving one's goals.</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>Finspo's mission to ensure customers "Feel good about their home loan moves" drives us to cultivate an approachable and enjoyable brand identity. This includes enhancing UX accessibility and infusing the brand with approachability and fun.</p>
    </div>
    <div class="rectangle-full bg-blue">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708327819/finspo_homepage_1280x700_ec7yja.png", alt:"summary page desktop view"%>
    </div>
    <div class="square-half-half brand-awareness-square-ad bg-blue p-top-xxl p-bottom-xxl">
      <video autoplay muted loop>
        <source src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707940121/Finspo_brand_awareness_-_C2_1x1_230720_0900_ccf55q.mp4" type="video/mp4">
        <%# <source src="video.webm" type="video/webm"> %>
        Your browser does not support the video tag.
      </video>
    </div>
  </div>


</div>
