<!-- For Finspo case studies -->

<div class="grid-container">
  <!-- Components -->
  <div class="item">
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708313487/finspo_styleguide_1280x700_lsdwo2.png", alt:"finspo components"%>
    </div>
  </div>

  <!-- Case study: DFF(Customer) -->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3 class="project-label">Digital Fact Find</h3>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>A critical part of the home loan process is gathering the required customer information. Using existing manual methods of data collection is often time-consuming and ineffecient for both the customer and broker. The challenge lay in designing a tool to efficiently collect layers of information in an engaging way.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>To assist customers in completing their Fact Find, we prioritized human-friendly language, broke down the process into manageable sections, and implemented goal-oriented design (such as progress bars). Animated elements further soften the form's intensity to engage customers.</p>
    </div>
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708314556/finspo_dff_mobile_1280x700_q5kwt8.png", alt: "Mobile experience of DFF" %>
    </div>
    <div class="rectangle-full video-container">
      <video autoplay muted loop>
          <source src="https://res.cloudinary.com/dmvbynqto/video/upload/v1707780570/finspo_dff_recording_jane_sshvzq.mp4" type="video/mp4">
          <%# <source src="video.webm" type="video/webm"> %>
          Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!-- Case study: Summary -->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3 class="project-label">Fact Find Summary</h3>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>As customers progressed to fill in their required information through the Digital Fact Find, there needed to be a way for both the customer and broker to quickly review the information collected without navigating lengthy forms.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>We introduced a "summary" feature as an extension of the Digital Fact Find, facilitating swift review and quick edits. Organizing information into separate cards and tables also made scanning this information easier for users.</p>
    </div>
    <div class="rectangle-full bg-blue">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708322802/finspo_summar_mobileAndDesktop_1280x700_2_f5ftyk.png", alt:"summary page desktop view"%>
    </div>
  </div>

    <!-- Case study: Animated componencts -->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3 class="project-label">Book a chat</h3>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>To connect with Finspo, customers must complete an online form to "book a chat" with an expert. This multi-step process, aimed at gathering basic customer information, frequently resulted in customer drop-offs before reaching the crucial conversion pages.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>To enhance conversion rates on select pages, we implemented animations and cues to keep the customers hooked, encouraging them to proceed and, ultimately, book a chat.</p>
    </div>
    <div class="square-half-half bg-navy p-top-xl p-bottom-xl">
      <!-- Lottie -->
      <dotlottie-player class="borrowing-power-animation" src="https://lottie.host/8f2743f6-880b-45e0-9204-f7b0ea176435/vV8CBK7381.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
    </div>
    <div class="roladex square-half-half bg-navy p-top-xl p-bottom-xl">
      <!-- Lottie -->
      <dotlottie-player src="https://lottie.host/c8fe2ef2-780d-4700-a0a1-623f1123493d/4YmfGRxaxu.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
    </div>
  </div>

  <!-- Case study: All-in-one tool -->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3 class="project-label">Customer portal</h3>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>In a typical home loan process, lengthy chains of communication and numerous file exchanges occur in various formats and platforms. This leads to inefficiencies for customers and brokers, including the need to search for or follow up on information already provided.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>To address this, we designed a portal that would act a comprehensive platform for customers to get most of the information they need. This includes timelines, key actions, updates and shared artefacts.</p>
    </div>
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708317560/finspo_tracker_desktop_1280x700_jijvka.png", alt:"summary page desktop view"%>
    </div>
  </div>

    <!-- Case study: DFF(Broker) -->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3 class="project-label">Broker tools</h3>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>A big part of designing a process that feels seamless for the customer is improving broker tools. Efficiencies on the broker-end helps to reduce wait times for customers.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>When designing internal tools for brokers, we prioritize practicality—ensuring flexibility to seamlessly integrate with other tools while also being lean to facilitate shorter development times and avoid competing with our customer-facing product roadmap.</p>
    </div>
    <div class="rectangle-full">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708318401/finspo_brokerTools_notes_1280x700_vzhtr1.png", alt: "Finspo expert notes" %>
    </div>
    <div class="square-half-half full-bleed">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708317901/finspo_brokerTools_flags_1280x700_swge3k.png", alt: "Widget of broker flags" %>
    </div>
  </div>
</div>
