<!-- For Kiraku case studies -->

<div class="grid-container">
  <div class="item">
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 2000/f_auto/v1707972753/2D0A0528_dxyvtj.jpg"%>
    </div>
  </div>
  <!-- Components -->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3>Nazuna Kyoto Gosho (Interior)</h3>
      <div class="p-top-m">
        <p>Design collaborators: Lina Zedig & Mariel Lozano</p>
      </div>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>In Kyoto lay a sizable land with two properties sharing a garden, ripe for a boutique hotel. The challenge was two-fold: transforming a dilapidated property into a unique retreat while preserving its historical charm and character.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>The hotel, comprising 6 rooms, centered its concept around Wagashi - Japanese sweets. Each room was themed after a specific type of sweet, with carefully curated objects complementing the theme and characteristics of the building.</p>
    </div>
    <!-- Living space -->
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 2000/v1708823849/2019_0309_0876_fpfbft.jpg"%>
    </div>
    <!-- Wagashi details -->
    <div class="rectangle-full bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 2000/v1708824170/2019_0308_0317_hlocsc.jpg"%>
    </div>
    <div class="square-triptic nazuna-business-card">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 2000/v1708823665/2019_0309_0929_aimcru.jpg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
    <div class="square-triptic nazuna-business-card">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 1000/v1708824116/2019_0308_0363_wutxda.jpg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
    <div class="square-triptic nazuna-business-card">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 1000/v1708823882/2019_0309_0744_imm3js.jpg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
    <!-- Lobby -->
    <div class="rectangle-two-thirds bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707947182/kiraku_nazunaKyotoGosho_udin5o.jpg", alt:"Nazuna Kyoto Gosho"%>
    </div>
    <!---->
    <div class="square-half-half kiraku-lobby bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 1000/v1708822786/2019_0309_0799_c2mebo.jpg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
    <div class="square-half-half bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 1000/v1707972656/2D0A0624_m62tuy.jpg", alt:"Nazuna Kyoto Gosho"%>
    </div>
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 2000/v1708823552/2019_0309_0701_hvrzpl.jpg"%>
    </div>
    <!---->
    <div class="rectangle-two-thirds bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 2000/v1708823934/2019_0308_0373_bn92ea.jpg"%>
    </div>
  </div>
  <!-- Components -->
  <div class="item">
    <div class="title">
      <p class="case-study-label">Case study</p>
      <h3>Nazuna Brand</h3>
    </div>
    <div class="pca">
      <p class="sub-title">Challenge</p>
      <p>For the new hotel, Nazuna Kyoto Gosho, we partnered with a local family-owned operator. However, their initial branding required a refresh to align with Kiraku's vision for luxury hotel developments. The challenge was to craft a timeless brand identity that could encompass all properties managed under the Nazuna family name.</p>
    </div>
    <div class="pca">
      <p class="sub-title">Approach</p>
      <p>The primary objective of the brand identity was to evoke timelessness and mirror the characteristics and ambiance of the old historical buildings housing the hotels. This led to the incorporation of clean lines and the selection of classic-like serif fonts for a sophisticated touch.</p>
    </div>
    <!-- Logos -->
    <div class="square-half-half kiraku-logo bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707951490/kiraku_logoMark_tiegvp.svg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
    <div class="square-half-half kiraku-logo bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707951832/kiraku_logo_ms49ob.svg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
    <!-- Business cards -->
    <div class="square-half-half nazuna-business-card bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 2000/v1707972345/Kiraku_Business_Cards_kgbcar.jpg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
    <div class="square-half-half bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 1000/v1707973067/kiraku_nazunaKyotoGosho_tokonoma_hqg9jn.jpg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
    <!-- Hotel view -->
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 2000/v1708823964/2019_0309_0666_q1aifa.jpg"%>
    </div>
    <div class="rectangle-full bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 2000/v1708824147/2019_0308_0214_ejy0z3.jpg"%>
    </div>
  </div>
  <!-- Components -->
  <div class="item">
    <div class="title">
      <h3>As seen in</h3>
    </div>
    <div class="pca">
      <p class="sub-title">NyTimes</p>
      <p>Blah</p>
    </div>
    <div class="pca">
      <p class="sub-title">Booking.com</p>
      <p>Blah</p>
    </div>
  </div>
</div>
