<!-- For Kiraku case studies -->

<div class="finspo-case-studies">
  <!-- Components -->
  <div class="item">
    <div class="title">
      <h5 class="case-study-label">Case study</h5>
      <h3>Components</h3>
    </div>
    <div class="pca">
      <h5>Problem</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet euismod lectus, id rhoncus lacus. Mauris lacinia nisi turpis, vel semper ligula vulputate in.</p>
    </div>
    <div class="pca">
      <h5>Challenges</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet euismod lectus, id rhoncus lacus. Mauris lacinia nisi turpis, vel semper ligula vulputate in.?</p>
    </div>
    <div class="pca">
      <h5>Approach</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet euismod lectus, id rhoncus lacus. Mauris lacinia nisi turpis, vel semper ligula vulputate in.</p>
    </div>
    <div class="rectangle-full br-24 bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707947182/kiraku_nazunaKyotoGosho_udin5o.jpg", alt:"Nazuna Kyoto Gosho"%>
    </div>
    <div class="rectangle-full br-24 bg-navy">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707972753/2D0A0528_dxyvtj.jpg"%>
    </div>
     <div class="square-half-half kiraku-logo br-24 bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707951490/kiraku_logoMark_tiegvp.svg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
    <div class="square-half-half kiraku-logo br-24 bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707951832/kiraku_logo_ms49ob.svg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
    <div class="square-half-half nazuna-business-card br-24 bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707972345/Kiraku_Business_Cards_kgbcar.jpg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
    <div class="square-half-half nazuna-business-card br-24 bg-brown">
      <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1707973067/kiraku_nazunaKyotoGosho_tokonoma_hqg9jn.jpg", alt:"Nazuna Kyoto Gosho logo mark"%>
    </div>
  </div>
</div>
