<div class="grid-container">
  <!-- Intro -->
  <div class="intro">
    <h3>
    I'm a digital product designer with 10+ years of experience crafting high-quality products across finance, hospitality and art sectors mainly in startup settings. I thrive in the midst of complexity and ambiguity and excel as a cross-functional collaborator working with diverse teams to bring design concepts to life. <%= link_to "More", about_path, class: "more" %>
    </h3>
  </div>

  <div class="skills">
    <p>Skills</p>
    <ul>
      <li>
        <p class="p-top-m">UI/UX</p>
        <p>Art direction</p>
        <p>Brand</p>
        <p>Animation</p>
        <p>Project management</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>Javascript</p>
        <p>Ruby</p>
      </li>
    </ul>
  </div>

  <!-- All projects
  <% @projects.each_with_index do |project, index| %>
    <% if index % 2 == 0 %>
      <div class="list-item left" data-controller="card-hover" data-card-hover-target="cardElement" data-action="mouseover->card-hover#fire mouseleave->card-hover#reset">
        <h3>
          <%= link_to project.title, project_path(project) %>
        </h3>
      </div>
    <% else %>
      <div class="list-item right">
        <h3><%= link_to project.title, project_path(project) %></h3>
      </div>
    <% end %>
  <% end %>
</div>
-->

  <!-- All projects -->
  <% @projects.each_with_index do |project, index| %>
    <% if index % 2 == 0 %>
      <%= link_to project_path(project),
      class: "list-item left",
      data: { controller: "card-hover", card_hover_target: "cardElement", action: "mouseover->card-hover#fire mouseleave->card-hover#reset" } do %>
        <div class="content">
          <p>
            <%= project.title %>
          </p>
          <!-- Image tags -->
          <% if project.title == "Finspo: Marketing" %>
            <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708485107/finspo_market_thumbnail_v2_w4u3tw.png", alt: "Finspo marketing thumbnail" %>
          <% elsif project.title == "Finspo: Product"%>
            <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708479464/finspo_product_thumbnail_v2_mz9xu4.png", alt: "Finspo product thumbnail" %>
          <% end%>
        </div>
      <% end %>
    <% else %>
      <%= link_to project_path(project),
      class: "list-item right",
      data: { controller: "card-hover", card_hover_target: "cardElement", action: "mouseover->card-hover#fire mouseleave->card-hover#reset" } do %>
        <div class="content">
          <p>
            <%= project.title %>
          </p>
                    <!-- Image tags -->
          <% if project.title == "Finspo: Marketing" %>
            <div class="img-container">
              <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708485107/finspo_market_thumbnail_v2_w4u3tw.png", alt: "Finspo illustration of shopper" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
