<div class="grid-container">
  <!-- Intro -->
  <div class="intro">
    <h3>
    I'm a digital product designer with 10+ years of experience crafting high-quality products across finance, hospitality and art sectors mainly in startup settings. I thrive in the midst of complexity and ambiguity and excel as a cross-functional collaborator working with diverse teams to bring design concepts to life. <%= link_to "More", about_path, class: "more" %>
    </h3>
  </div>

  <div class="bio-block">
    <p class="capabilities-homepage sub-title">Capabilities</p>
    <p>-</p>
    <ul>
      <li>
        <p>UI/UX</p>
        <p>Art direction / Branding</p>
        <p>Animation</p>
        <p>Project management</p>
        <p>Web development</p>
      </li>
    </ul>
  </div>

  <!-- All projects -->
  <% @projects.each_with_index do |project, index| %>
    <% if index % 2 == 0 %>
      <%= link_to project_path(project),
      class: "list-item left",
      data: {
        controller: "card-hover",
        card_hover_target: "cardElement",
        action: "mouseover->card-hover#fire mouseleave->card-hover#reset",
        project_title: project.title # Add data attribute with project title
        } do %>
        <div class="content">
          <p>
            <%= project.title %>
          </p>
          <!-- Image tags -->
          <% if project.title == "Finspo: Marketing" %>
            <div class="img-container">
              <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708485107/finspo_market_thumbnail_v2_w4u3tw.png", alt: "Finspo marketing thumbnail" %>
            </div>
          <% elsif project.title == "Finspo: Product"%>
            <div class="img-container">
              <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708479464/finspo_product_thumbnail_v2_mz9xu4.png", alt: "Finspo product thumbnail" %>
            </div>
          <% elsif project.title == "Kiraku"%>
            <div class="img-container">
              <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 2000/v1708827386/kiraku_thumbnail_vqfn9j.png", alt: "Finspo product thumbnail" %>
            </div>
          <% elsif project.title == "Side projects"%>
            <div class="img-container">
              <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708500764/finspo_sideProjects_thumbnail_v2_jc00ff.png", alt: "Finspo product thumbnail" %>
            </div>
          <% end%>
        </div>
      <% end %>
    <% else %>
      <%= link_to project_path(project),
      class: "list-item right",
      data: {
        controller: "card-hover",
        card_hover_target: "cardElement",
        action: "mouseover->card-hover#fire mouseleave->card-hover#reset",
        project_title: project.title # Add data attribute with project title
        } do %>
        <div class="content">
          <p>
            <%= project.title %>
          </p>
                    <!-- Image tags -->
          <% if project.title == "Finspo: Marketing" %>
            <div class="img-container">
              <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708485107/finspo_market_thumbnail_v2_w4u3tw.png", alt: "Finspo illustration of shopper" %>
            </div>
          <% elsif project.title == "Finspo: Product"%>
            <div class="img-container">
              <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708479464/finspo_product_thumbnail_v2_mz9xu4.png", alt: "Finspo product thumbnail" %>
            </div>
          <% elsif project.title == "Kiraku"%>
            <div class="img-container">
              <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/t_width 2000/v1708827386/kiraku_thumbnail_vqfn9j.png", alt: "Finspo product thumbnail" %>
            </div>
          <% elsif project.title == "Side projects"%>
            <div class="img-container">
              <%= image_tag "https://res.cloudinary.com/dmvbynqto/image/upload/v1708500764/finspo_sideProjects_thumbnail_v2_jc00ff.png", alt: "Finspo product thumbnail" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
