<div class="grid-container">
  <!-- Intro of project -->
  <div class="project-title" data-scroll>
    <h1><%= @project.title %></h1>
  </div>
  <!-- Tags (Build this so it's dynamic) -->
  <div class="project-description" data-scroll>
    <h4><%= @project.description %></h4>
  </div>
  <!--
  <% if @project.photo.key %>
    <div class="img-container">
      <%= cl_image_tag @project.photo.key, crop: :fill %>
    </div>
  <% end %>
  -->
</div>

  <!-- Display content (partials) based by project -->
  <% if @project.title == "Finspo: Product" %>
    <%= render "finspo_product" %>
  <% elsif @project.title == "Finspo: Marketing" %>
    <%= render "finspo_marketing" %>
  <% elsif @project.title == "Kiraku" %>
    <%= render "kiraku" %>
  <% elsif @project.title == "Side projects" %>
    <%= render "side_projects" %>
  <% end %>

  <!-- Remove this later -->
  <%= link_to "Delete project",
    project_path(@project),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <%= link_to "Edit this project", edit_project_path(@project) %>
