<!-- Intro of project -->
<div class="project-intro">
  <div class="text">
    <h1><%= @project.title %></h1>
    <h2><%= @project.summary %></h2>
    <p class="description"><%= @project.description %></p>
    <!-- Tags (Build this so it's dynamic) -->
    <div class="tag-container">
      <p class="tags">Fintech</p>
      <p class="tags">Product</p>
    </div>
  </div>
  <div class="img-container">
    <%= cl_image_tag @project.photo.key, crop: :fill %>
  </div>
</div>

<%= link_to "Delete project",
  project_path(@project),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to "Edit this project", edit_project_path(@project) %>
