<!DOCTYPE html>
<html>
  <head>
    <title>EhPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Top nav -->
    <div class="navbar">
      <a href="#">www.erinaho.co</a>
      <p>Currently: Designing Digital Experiences</p>
      <a href="#">About me</a>
    </div>
    <!-- Other testing junk -->
    <%= link_to "Erina Ho Logo", root_path %>
    <%= link_to "Projects", projects_path %>
    <%= link_to "+ Add a new project", new_project_path %>
    <%= link_to "About me", about_path %>
    <%= yield %>
  </body>
</html>
