<!DOCTYPE html>
<html>
  <head>
    <title>EhPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
  </head>

  <body>
    <!-- Top nav -->
    <div class="navbar">
      <%= link_to "erinaho.co", root_path %>
      <p>
        <span data-controller="typed" data-typed-strings-value="<%= ["Designing Digital Experiences", "Looking for new opportunities"] %>">
          Designing Digital Experiences
        </span>
      </p>
      <%= link_to "About", about_path %>
    </div>
    <!-- Other testing junk -->
    <div class="main-content" data-controller="locomotive-scroll">
      <%= yield %>
      <!-- Footer -->
      <footer>
        <div>
          <span>
            Let's work together. erina.hou@gmail.com
          </span>
        </div>
        <div>
          <span>
            Website built by me.
          </span>
        </div>
      </footer>
    </div>
  </body>
</html>
