<!DOCTYPE html>
<html>
  <head>
    <title>EhPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
  </head>

  <body>
    <!-- Top nav -->
    <div class="navbar">
      <%= link_to "erinaho.co", root_path %>
      <p>
        <span data-controller="typed" data-typed-strings-value="<%= ["Designing Digital Experiences", "Looking for new opportunities"] %>">
          Designing Digital Experiences
        </span>
      </p>
      <%= link_to "About", about_path %>
    </div>
    <!-- Other testing junk -->
    <div class="main-content">
      <%= yield %>
    </div>
    <!-- Footer -->
    <footer>
      <%= link_to "LinkedIn", "https://www.linkedin.com/in/erinaho/", target: "_blank" %>
      <%= link_to "Read.cv", "https://read.cv/erinaho", target: "_blank" %>
      Website built by me:  <%= link_to "Github", "https://github.com/erinahou", target: "_blank" %>
    </footer>
  </body>
</html>
